@media screen and (max-width: 992px) {
  /* Hero Section */
  .hero-tagline h1 {
    font-size: 20px;
    line-height: 30px;
  }

  .img-hero {
    width: 75%;
    height: auto;
  }

  .hero-tagline p {
    font-size: 12px;
    margin-bottom: 25px;
    margin-top: 15px;
    line-height: 25px;
    width: 85%;
  }

  .button-lg-primary {
    width: 237px;
    height: 40px;
    background-color: #fff;
    color: var(--pr-color);
    border: none;
    font-size: 12px;
    font-weight: 600;
  }

  /* Layanan Section */
  #layanan h2 {
    font-size: 28px;
    font-weight: 500;
  }

  #layanan .sub-title {
    font-size: 14px;
  }

  .card-layanan h3 {
    color: var(--pr-color);
    font-size: 18px;
  }

  .card-layanan p {
    color: #000;
    font-size: 12px;
  }

  .card-layanan:hover h3 {
    color: #fff;
    font-size: 20px;
  }

  .card-layanan:hover p {
    color: #fff;
    font-size: 12px;
  }

  /* Search Section */
  #search h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 52px;
  }

  #search p {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
  }

  .input-cari {
    height: 55px;
  }

  .input-cari .button-secondary {
    width: 120px;
    font-size: 12px;
    border-radius: 0;
    height: 55px;
  }

  .input-cari .button-primary {
    font-size: 18px;
    height: 55px;
    border-radius: 0 0 5px 5px;
  }

  /* Fitur Section */
  .button-fitur {
    width: 100%;
  }

  /* Contact Section */
  #contact h3 {
    font-size: 30px;
    width: 100%;
    line-height: 15px;
    padding-top: 15px;
  }

  .card-contact {
    width: 100%;
    height: auto;
    padding: 52px 48px;
  }

  .card-contact h2 {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 21px;
  }

  .card-contact .form-control {
    height: 56px !important;
  }

  .form-floating label {
    font-size: 14px;
    line-height: 16px;
  }

  .button-kontak {
    height: 56px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 768px) {
  /* Hero Section */
  .hero-tagline h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .img-hero {
    width: 50%;
    height: auto;
  }

  .hero-tagline p {
    font-size: 12px;
    margin-bottom: 25px;
    margin-top: 15px;
    line-height: 25px;
    width: 85%;
  }

  .button-lg-primary {
    width: 237px;
    height: 40px;
    background-color: #fff;
    color: var(--pr-color);
    border: none;
    font-size: 12px;
    font-weight: 600;
  }

  /* Layanan Section */
  #layanan h2 {
    font-size: 28px;
    font-weight: 500;
  }

  #layanan .sub-title {
    font-size: 14px;
  }

  .card-layanan h3 {
    color: var(--pr-color);
    font-size: 18px;
  }

  .card-layanan p {
    color: #000;
    font-size: 12px;
  }

  .card-layanan:hover h3 {
    color: #fff;
    font-size: 20px;
  }

  .card-layanan:hover p {
    color: #fff;
    font-size: 12px;
  }

  /* Search Section */
  #search h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 52px;
  }

  #search p {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
  }

  .input-cari {
    height: 55px;
  }

  .input-cari .button-secondary {
    width: 120px;
    font-size: 12px;
    border-radius: 0;
    height: 55px;
  }

  .input-cari .button-primary {
    font-size: 18px;
    height: 40px;
    border-radius: 0 0 5px 5px;
    width: 100%;
  }

  /* Fitur Section */
  .button-fitur {
    width: 100%;
  }

  /* Contact Section */
  #contact h3 {
    font-size: 30px;
    width: 100%;
    line-height: 15px;
    padding-top: 15px;
  }

  .card-contact {
    width: 100%;
    height: auto;
    padding: 52px 48px;
    margin-top: 30px;
  }

  .card-contact h2 {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 21px;
  }

  .card-contact .form-control {
    height: 56px !important;
  }

  .form-floating label {
    font-size: 14px;
    line-height: 16px;
  }

  .button-kontak {
    height: 56px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 576px) {
  /* Hero Section */
  .hero-tagline {
    text-align: center !important;
  }

  .hero-tagline h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .img-hero {
    width: 50%;
    height: auto;
  }

  .hero-tagline p {
    font-size: 12px;
    margin-bottom: 25px;
    margin-top: 15px;
    line-height: 25px;
    width: 100%;
  }

  .button-lg-primary {
    width: 237px;
    height: 40px;
    background-color: #fff;
    color: var(--pr-color);
    border: none;
    font-size: 12px;
    font-weight: 600;
  }

  /* Layanan Section */
  #layanan h2 {
    font-size: 24px;
    font-weight: 500;
  }

  #layanan .sub-title {
    font-size: 12px;
  }

  .card-layanan h3 {
    color: var(--pr-color);
    font-size: 18px;
  }

  .card-layanan p {
    color: #000;
    font-size: 12px;
  }

  .card-layanan:hover h3 {
    color: #fff;
    font-size: 20px;
  }

  .card-layanan:hover p {
    color: #fff;
    font-size: 12px;
  }

  /* Search Section */
  #search h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 52px;
  }

  #search p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .input-cari {
    height: 55px;
  }

  .input-cari .button-secondary {
    width: 120px;
    font-size: 12px;
    border-radius: 0;
    height: 55px;
  }

  .input-cari .button-primary {
    font-size: 18px;
    height: 40px;
    border-radius: 0 0 5px 5px;
    width: 100%;
  }

  /* Fitur Section */
  .button-fitur {
    width: 100%;
  }

  /* Rekomendasi Section */
  #rekomendasi h2 {
    font-size: 28px;
  }

  /* Contact Section */
  #contact h3 {
    font-size: 30px;
    width: 100%;
    line-height: 15px;
    padding-top: 15px;
  }

  .card-contact {
    width: 100%;
    height: auto;
    padding: 52px 48px;
    margin-top: 30px;
  }

  .card-contact h2 {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 21px;
  }

  .card-contact .form-control {
    height: 56px !important;
  }

  .form-floating label {
    font-size: 14px;
    line-height: 16px;
  }

  .button-kontak {
    height: 56px;
    font-size: 16px;
    line-height: 24px;
  }
}
