@media screen and (max-width: 922px) {
  .input-cari .button-secondary {
    width: 120px;
    font-size: 12px;
  }

  .input-cari .button-primary {
    font-size: 18px;
  }

  .button-fitur {
    width: 100%;
  }

  #contact h3 {
    font-size: 30px;
    width: 100%;
    line-height: 20px;
  }

  .card-contact {
    width: 100%;
    height: auto;
    padding: 52px 48px;
    margin-top: 25px;
  }

  .card-contact h2 {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 21px;
  }

  .button-primary {
    display: block;
    width: 100%;
  }
  
  .button-secondary {
    display: block;
    width: 100%;
  }

}

@media screen and (max-width: 576px) {
  .hero-tagline h1 {
    line-height: 52px;
  }

  .img-hero {
    width: 75%;
    height: auto;
  }

  h2 {
    font-size: 28px;
  }

  .sub-title {
    font-size: 18px;
  }

  .card-layanan {
    margin: 15px 0;
  }

  #search h2 {
    font-size: 34px;
    line-height: 52px;
  }

  #search p {
    font-size: 20px;
    line-height: 24px;
  }

  .input-cari .button-secondary {
    width: 50%;
    height: 50px;
    border-radius: 0;
  }

  .input-cari .button-primary {
    width: 30%;
    height: 50px;
    font-size: 15px;
    border-radius: 0 0 0px 0;
  }

  .input-cari .form-control {
    height: 50px;
  }
}


@media screen and (max-width: 350px) {
  
}