@media screen and (max-width: 922px) {
  .input-cari .button-secondary {
    width: 120px;
    font-size: 12px;
  }

  .input-cari .button-primary {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .hero-tagline h1 {
    line-height: 52px;
  }

  .img-hero {
    width: 75%;
    height: auto;
  }

  h2 {
    font-size: 28px;
  }

  .sub-title {
    font-size: 18px;
  }

  .card-layanan {
    margin: 15px 0;
  }

  #search h2 {
    font-size: 34px;
    line-height: 52px;
  }

  #search p {
    font-size: 20px;
    line-height: 24px;
  }

  .input-cari .button-secondary {
    width: 50%;
    height: 50px;
    border-radius: 0;
  }

  .input-cari .button-primary {
    width: 30%;
    height: 50px;
    font-size: 15px;
    border-radius: 0 0 0px 0;
  }

  .input-cari .form-control {
    height: 50px;
  }
}


@media screen and (max-width: 350px) {
  
}